/********************************************
    This part word for editor
********************************************/
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #C8C8C8;
}

#editor-container {
    margin: 0 auto;
    padding: 35px 44px;
    width: 391px;
    min-height: 422px;
    height: auto;
    background-color: white;
}

#editor-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#editor-container .the-word {
    height: 34px;
    width: auto;
    color: #333333;
    font: normal normal 26px 方正等线;
}

#editor-container #phonetic-symbol {
    height: auto;
    min-height: 23px;
    margin: 4px 0 10px 0; 
    width: 100%;
    float: left;
}
#editor-container #phonetic-symbol .one-ps {
    height: 23px;
    float: left;
    margin-left: 2px;
}
#editor-container #phonetic-symbol .one-ps .ps {
    color: #999999;
    height: 23px;
    width: auto;
    line-height: 23px;
    text-align: center;
    margin-top: 2px;
    font: normal normal 16px Arial;
    float: left;
}

#editor-container #phonetic-symbol .one-ps .delete {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #A4C400;
    margin: 3px;
    /*padding: 0 4px 4px;*/
    color: white;
    font: normal normal 10px 方正等线;
    display: block;
    float: left;
    cursor: pointer;
}

#editor-container #phonetic-symbol #add-ps {
    height: 23px;
    width: 68px;
    line-height: 23px;
    text-align: center;
    margin-left: 7px;
    color: #A4C400;
    font: normal normal 16px 方正等线;
    float: left;
    cursor: pointer;
}

#editor-container .head {
    height: 23px;
    min-width: 68px;
    width: auto;
    color: #333333;
    margin-bottom: 8px;
    font: normal normal 16px 方正等线;
}

#editor-container #bref-tran {
    margin-bottom: 16px;
    float: left;
}
#editor-container #bref-tran .characteristic,
#editor-container #detial-tran .characteristic {
    height: 28px;
    width: 100%;
    margin-top: 8px;
}

#editor-container .ico-n {
    height: 28px;
    width: 26px;
    display: block;
}

#editor-container .ico-adj {
    height: 28px;
    width: 38px;
    
}

#editor-container img {
    float: left;
}

#editor-container .characteristic .translate {
    height: auto;
    min-height: 28px;
    color: #333333;
    margin: 0;
    padding: 0 0 0 9px;
    line-height: 28px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 16px;
    font-family: 方正等线;
    float: left;
}

#editor-container .cha-n .translate {
    width: 353px;
}

#editor-container .cha-adj .translate {
    width: 341px;
}

#editor-container #detial-tran {
    float: left;
}

#editor-container #detial-tran .characteristic .sentence {
    height: auto;
    min-height: 41px;
    width: 100%;
    margin: 8px 0 10px;
    padding-left: 39px;
    float: left;
}

#editor-container .translate span {
    border: 0;
    font-size: 16px;
    font-family:  方正等线;
    outline: 0;
}

#editor-container .sentence span {
    display: block;
    width: 312px;
    min-height: 17px;
    height: auto;
    color: #333333;
    font-size: 14px;
    font-family: 方正等线;
    -ms-word-break: break-all;
    word-break: break-all;
    outline: 0;
    border: 0;
}

#editor-container .sentense .english-s {
    margin-top: 3px;
}

#editor-container span {
    outline: 0;
}

#editor-container button {
    width: 40px;
    height: 20px;
}