body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #C8C8C8;
}

#editor_container {
    margin: 0 auto;
    padding: 35px 44px;
    width: 391px;
    min-height: 422px;
    height: auto;
    background-color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.the_word {
    height: 34px;
    width: auto;
    color: #333333;
    font: normal normal 26px 方正等线;
}

#phonetic_symbol {
    height: auto;
    min-height: 23px;
    margin: 4px 0 10px 0; 
    width: 100%;
    float: left;
}
#phonetic_symbol .one_ps {
    height: 23px;
    float: left;
    margin-left: 2px;
}
#phonetic_symbol .one_ps .ps {
    color: #999999;
    height: 23px;
    width: auto;
    line-height: 23px;
    text-align: center;
    margin-top: 2px;
    font: normal normal 16px Arial;
    float: left;
}

#phonetic_symbol .one_ps .delete {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #A4C400;
    margin: 3px;
    /*padding: 0 4px 4px;*/
    color: white;
    font: normal normal 10px 方正等线;
    display: block;
    float: left;
    cursor: pointer;
}

#phonetic_symbol #add_ps {
    height: 23px;
    width: 68px;
    line-height: 23px;
    text-align: center;
    margin-left: 7px;
    color: #A4C400;
    font: normal normal 16px 方正等线;
    float: left;
    cursor: pointer;
}

.head {
    height: 23px;
    min-width: 68px;
    width: auto;
    color: #333333;
    margin-bottom: 8px;
    font: normal normal 16px 方正等线;
}

#bref_tran {
    margin-bottom: 16px;
    float: left;
}
#bref_tran .characteristic {
    height: 28px;
    width: 100%;
    margin-top: 8px;
}

.ico_n {
    height: 28px;
    width: 26px;
    display: block;
}

.ico_adj {
    height: 28px;
    width: 38px;
    
}

img {
    float: left;
}

.characteristic .translate {
    height: auto;
    min-height: 28px;
    color: #333333;
    margin: 0;
    padding: 0px 0 0 9px;
    line-height: 28px;
    word-wrap: break-word;
    font-size: 16px;
    font-family:  方正等线;
    float: left;
}

.cha_n .translate {
    width: 353px;
}

.cha_adj .translate {
    width: 341px;
}

#detial_tran {
    float: left;
}

#detial_tran .characteristic .sentence {
    height: auto;
    min-height: 41px;
    width: 100%;
    margin: 8px 0 10px;
    padding-left: 39px;
    float: left;
}

.translate span {
    /*width: 55px;*/
    border: 0;
    font-size: 16px;
    font-family:  方正等线;
    outline: 0;
}

.sentence span {
    display: block;
    width: 312px;
    min-height: 17px;
    height: auto;
    color: #333333;
    font-size: 14px;
    font-family: 方正等线;
    word-break: break-all;
    outline: 0;
    border: 0;
}

.sentense .english_s {
    margin-top: 3px;
}

span {
    outline: 0;
}
/*input:focus {
    outline-color: none;
}*/

button {
    width: 40px;
    height: 20px;
}