<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="css/editor.css" />
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/editor.js"></script>
  <!--<script src="script/angular-1.0.1.min.js"></script>
  <script>
    function editor($scope) {
      $scope.test = '释义A1, 释义A2, 释义A3, 释义A4';
      $scope.word = {
        prons: [],
        characteristic: [
          {
            chara: 'n',
            groups: [
              {
                briefs: ['释义A1', '释义A1'],
                detail: ['释义A1', '释义A2', '释义A3', '释义A4']
              }/*,
              {
                briefs: ['释义B1'],
                details: ['释义B1','释义B2']
              }*/
            ],
            sentence: {
              Ch: '例句中文',
              En: 'Sentence in English'
            }
          },
          {
            chara: 'adj',
            groups: [
              {
                briefs: ['释义B1'],
                detail: ['释义B1', '释义B2']
              },
              {
                briefs: ['释义C1'],
                details: ['释义C1', '释义C2']
              }
            ],
            sentence: {
              Ch: '例句中文',
              En: 'Sentence in English'
            }
          }
        ]
      };
    }
  </script>-->
</head>
<body>
  <div id="editor-container">
    <div class="the-word">headword</div>
    <div id="phonetic-symbol">
      <!--<div id="add-ps">添加发音</div>-->
      <!--<div class="one_ps">
        <span class="ps">/‘hed.wɜrd1/</span>
        <img class="delete" src="image/delete.png" />
      </div>
      <div class="one_ps">
        <span class="ps">/‘hed.wɜrd2/</span>
        <img class="delete" src="image/delete.png" />
      </div>-->
    </div>
    <div id="bref-tran">
      <div class="head">简短释义</div>
      <ul id="bref-block">
        <!--<li class="characteristic cha_n">
          <img class="ico_n" src="image/n.png" />
          <div class="translate">  
            <span class="c_tran" contenteditable="true">释义A1</span>,
            <span class="c_tran" contenteditable="true">释义A2</span>
            <input ng-repeat="x in word.characteristic" ng-model="word.characteristic.groups.briefs[x]" />
            <span contenteditable="true">{{test}}</span>
          </div>
        </li>
        <li class="characteristic cha_adj">
          <img class="ico_adj" src="image/adj.png" />
          <div class="translate">
            <span class="c_tran" contenteditable="true">释义B1</span>;
            <span class="c_tran" contenteditable="true">释义C1</span>
          </div>
        </li>-->
      </ul>
    </div>
    <div id="detial-tran">
      <div class="head">详细释义</div>
      <ul id="detail-block">
        <!--<li class="characteristic cha_n">
          <img class="ico_n" src="image/n.png" />
          <div class="translate">
            <span class="c_tran" contenteditable="true">释义A1</span>,
            <span class="c_tran" contenteditable="true">释义A2</span>,
            <span class="c_tran" contenteditable="true">释义A3</span>,
            <span class="c_tran" contenteditable="true">释义A4</span>
          </div>
          <div class="sentence">
            <span class="chinese_s c_sen" contenteditable="true">例句中文</span>
            <span class="english_s c_sen" contenteditable="true">Sentence in English</span>
          </div>
        </li>
        <li class="characteristic cha_adj">
          <img class="ico_adj" src="image/adj.png" />
          <div class="translate">
            <span class="c_tran" contenteditable="true">释义B1</span>,
            <span class="c_tran" contenteditable="true">释义B2</span>;
            <span class="c_tran" contenteditable="true">释义C1</span>,
            <span class="c_tran" contenteditable="true">释义C2</span>
          </div>
          <div class="sentence">
            <span class="chinese_s c_sen" contenteditable="true">例句中文</span>
            <span class="english_s c_sen" contenteditable="true">Sentence in English</span>
          </div>
        </li>-->
      </ul>
    </div>
    <button id="save" value="Save">save</button>
  </div>
</body>
</html>
